extends layout

block content
  head
    meta(charset="UTF-8")
    title Chat Interface
    link(rel="stylesheet", href="/css/styles.css")
  body
    .container.clearfix
      #people-list.people-list
        .search
          input(type="text" placeholder="search")
          i.fa.fa-search
        ul.list
          if usuarios && usuarios.length
            each user in usuarios
              li.clearfix
                img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar")
                .about
                  .name= user.usuario
                  .status
                    p.email= user.email
          else
            li.clearfix
              .about
                .name No hay usuarios
      .chat
        .chat-history
          ul
            if mensajes && mensajes.length
              each mensaje in mensajes
                li.clearfix
                  if mensaje.idEmisor === emisor_id  
                    .message-data.align-right
                      span.message-data-time= mensaje.hora
                      |  &nbsp; &nbsp;
                      span.message-data-name= mensaje.emisor_id 
                      i.fa.fa-circle.me
                    .message.other-message.float-right
                      |= mensaje.contenido
                  else
                    .message-data
                      span.message-data-name
                        i.fa.fa-circle.online
                        |= mensaje.nombreEmisor
                      span.message-data-time= mensaje.hora
                    .message.my-message
                      |= mensaje.contenido
            else
              li.clearfix
                .about
                  .name No hay mensajes
        // end chat-history
        .chat-message.clearfix
          textarea#message-to-send(name="message-to-send" placeholder="Type your message" rows="3")
          i.fa.fa-file-o
          |  &nbsp;&nbsp;&nbsp;
          i.fa.fa-file-image-o
          button Enviar
        // end chat-message
    // end container
